div.css-1r6slb0.e1tzin5v2 {
    background-color: #ffffff;
    padding: 20px 20px 20px 70px;
    padding: 1% 2% 2% 2%;
    border-radius: 10px;
}

/* button.st-cw.st-n7.st-b6.st-b5.st-ar.st-as.st-bn.st-is.st-e3.st-e1.st-ef.st-eg.st-eh.st-c9.st-cb.st-ca.st-cc.st-cd.st-cf.st-ce.st-cg.st-n8.st-n9.st-na.st-b1.st-nb.st-ch.st-nc.st-nd.st-ne.st-nf.st-ng.st-nh.st-ae.st-ip.st-ag.st-ah.st-ai.st-aj.st-e9.st-ni.st-ew.st-fz.st-nj.st-nk {
    background-color: rgba(0, 0, 0, 0);
} */
